@import "reset";
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700");

body,
button,
input,
select,
textarea {
  font-family: "Roboto";
  overflow: hidden;
}

.screen {
  height: 100vh;
  font-family: "Permanent Marker", cursive;
  color: black;
  text-align: center;

  h1 {
    font-size: 54px;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  }
}
.characters {
  display: flex;
  flex-direction: row;
  justify-content: center;
  .character {
    .naruto_character {
      width: 300px;
      position: absolute;
    }
    .sasuke_character {
      width: 300px;
      position: absolute;
    }
  }
}
.containerButton {
  position: absolute;
  bottom: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.button {
  color: #083b77;
  text-decoration: none;
  background: #ea7739f3;
  padding: 20px 35px 20px 35px;
  border-radius: 5px;
  font-size: 30px;
  display: inline-block;
  cursor: pointer;
  margin-right: 5%;
  margin-left: 5%;
}
.button:nth-of-type(1) {
  z-index: 3;
}
.button:hover {
  transform: scale(1.1);
  transition: 0.2s;
}

.selected {
  border: 1px solid white;
}
/* .pane-enter-active,
.pane-leave-active {
  animation: fake 2s;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: black;
    transform: translateX(100vw);
    transition: transform 5s;
  }
}
.pane-leave-to {
  &::before {
    transform: translateX(-100vw);
  }
}
.pane-enter {
  &::before {
    transform: translateX(100vw);
  }
}
.pane-enter-to {
  &::before {
    transform: translateX(-100vw);
  }
} */
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
/*   .black-leave-active {
animation: toBlack 1s;
}
.black-enter-active {
animation: toBlack 1s reverse;
animation-delay: 1s;
}
@keyframes toBlack{
to {
  opacity: 0;
} */
.pane-leave-active,
.pane-enter-active {
  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: translateX(100vw);
    background: black;
    z-index: 4;
  }
}

.pane-leave-active {
  animation: fake 1s;

  &::after {
    animation: slideLeave 1s;
  }
}

.pane-enter-active {
  animation: fake 2s;

  &::after {
    animation: slideEnter 1s ease 1s;
  }
}

@keyframes slideLeave {
  to {
    transform: translateX(0);
  }
}

@keyframes slideEnter {
  from {
    transform: translate(0);
  }
  to {
    transform: translateX(-100vw);
  }
}

.pause {
  position: absolute;
  top: 40px;
  left: 50px;
  width: 40px;
}
.play {
  position: absolute;
  top: 40px;
  left: 100px;
  width: 40px;
}
