@import "reset";
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700");

$hetic-green: rebeccapurple;

body,
button,
input,
select,
textarea {
  font-family: "Roboto";
  overflow: hidden;
}

.screen {
  height: 100vh;
  font-family: "Permanent Marker", cursive;
  color: black;
  text-align: center;

  h1 {
    font-size: 54px;
  }
}
.characters {
  display: flex;
  flex-direction: row;
  justify-content: center;

  .character {
    .naruto_character {
      width: 300px;
      position: absolute;
    }
    .sasuke_character {
      width: 300px;
      position: absolute;
    }
  }
}

.containerButton {
  position: absolute;
  bottom: 10%;
  left: 10%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 80%;
}
.button {
  color: #083b77;
  text-decoration: none;
  background: #ea7739f3;
  padding: 25px 60px 25px 60px;
  border-radius: 5px;
  font-size: 30px;
  display: inline-block;
  cursor: pointer;
}

.button:hover {
  transform: scale(1.1);
  transition: 0.2s;
}

.selected {
  border: 1px solid white;
}
/* .pane-enter-active,
.pane-leave-active {
  animation: fake 2s;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: black;
    transform: translateX(100vw);
    transition: transform 5s;
  }
}
.pane-leave-to {
  &::before {
    transform: translateX(-100vw);
  }
}
.pane-enter {
  &::before {
    transform: translateX(100vw);
  }
}
.pane-enter-to {
  &::before {
    transform: translateX(-100vw);
  }
} */
body {
  width: 100vw;
  height: 100vh;
}
/*   .black-leave-active {
animation: toBlack 1s;
}
.black-enter-active {
animation: toBlack 1s reverse;
animation-delay: 1s;
}
@keyframes toBlack{
to {
  opacity: 0;
} */
