@import "reset";
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700");

$hetic-green: rebeccapurple;

body,
button,
input,
select,
textarea {
  font-family: "Roboto";
}

.big-header {
  background-image: url("../pictures/thumb-1920-605599.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  font-family: "Permanent Marker", cursive;

  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;

  color: white;

  h1 {
    margin-top: 100px;
    font-size: 36px;
  }
}

.button {
  color: $hetic-green;
  text-decoration: none;
  background: white;
  padding: 20px;
  border-radius: 5px;
  font-size: 24px;
  display: inline-block;
  border: none;
}
.character {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  .character__one {
    height: 500px;
    width: 200px;
    background-color: red;
  }
  .character__two {
    height: 500px;
    width: 200px;
    background-color: blue;
  }
}

/* .pane-enter-active,
.pane-leave-active {
  animation: fake 2s;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: black;
    transform: translateX(100vw);
    transition: transform 5s;
  }
}
.pane-leave-to {
  &::before {
    transform: translateX(-100vw);
  }
}
.pane-enter {
  &::before {
    transform: translateX(100vw);
  }
}
.pane-enter-to {
  &::before {
    transform: translateX(-100vw);
  }
} */
body {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}
/*   .black-leave-active {
animation: toBlack 1s;
}
.black-enter-active {
animation: toBlack 1s reverse;
animation-delay: 1s;
}
@keyframes toBlack{
to {
  opacity: 0;
} */
